<div class="jumbotron">
    <h1>Selecciona un Dashboard</h1>
    <!--
  <p class="lead">
<img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
</div>

<div class="row marketing">
    <a href="/#/da"><h4>Datos Abiertos</h4></a>
  <p></p>

  <a href="/#/apf"><h4>Administración Pública Federal</h4></a>
  <p></p>

  <a href="/#/dgm"> <h4>Datos.gob.mx</h4></a>
  <p></p>
</div>

<nube words={{words}} />
